USE [master]
GO

IF EXISTS(select * from sys.databases where name='QuranV2')
DROP DATABASE [QuranV2]

/****** Object:  Database [QuranV2]    Script Date: 12/25/2015 9:05:58 AM ******/
CREATE DATABASE [QuranV2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuranV2', FILENAME = N'F:\Quran\SQLServerDB\QuranV2.mdf' , SIZE = 44224KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuranV2_log', FILENAME = N'F:\Quran\SQLServerDB\QuranV2_log.ldf' , SIZE = 297024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuranV2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuranV2]
GO
/****** Object:  FullTextCatalog [QuranCatalog]    Script Date: 12/25/2015 9:05:58 AM ******/
CREATE FULLTEXT CATALOG [QuranCatalog]WITH ACCENT_SENSITIVITY = ON

GO
/****** Object:  UserDefinedFunction [dbo].[SplitWordIntoCharacters]    Script Date: 12/25/2015 9:05:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[SplitWordIntoCharacters](@word nvarchar(max))
   RETURNS @characters TABLE (
      CharacterNoWithinWord int primary key,
      [Character] nvarchar
   )
AS
BEGIN
   DECLARE @index int
   SET @index = 1
   WHILE @index <= LEN(@word) 
   BEGIN 
         INSERT INTO @characters 
         VALUES (@index, SUBSTRING(@word, @index,1))
		 SET @index = @index+1
   END 
   RETURN 
END
GO
/****** Object:  UserDefinedFunction [dbo].[SplitAyahIntoWords]    Script Date: 12/25/2015 9:05:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[SplitAyahIntoWords](@text nvarchar(max))
   RETURNS @words TABLE (
      WordNoWithinAyah int primary key,
	  pos int, 
      Word nvarchar(max)
   )
AS
BEGIN
   DECLARE
      @index int,
	  @pos int,
      @i int,
      @j int,
      @s nvarchar(4000)

   SET @index = 1
   SET @pos = 1
   WHILE @pos <= LEN(@text) 
   BEGIN 
      SET @i = CHARINDEX(' ', @text, @pos)
      IF @i > 0 
      BEGIN
         IF @i > @pos
         BEGIN
            -- @i now holds the earliest delimiter in the string
            SET @s = SUBSTRING(@text, @pos, @i - @pos)

            INSERT INTO @words
            VALUES (@index, @pos, @s)

			SET @index = @index+1
         END 
         SET @pos = @i + 1

         WHILE @pos < LEN(@text) 
            AND SUBSTRING(@text, @pos, 1) IN (' ')
            SET @pos = @pos + 1 
      END 
      ELSE 
      BEGIN 
         INSERT INTO @words 
         VALUES (@index, @pos, SUBSTRING(@text, @pos, LEN(@text) - @pos + 1))
		 
		 SET @index = @index+1
		 SET @pos = LEN(@text) + 1 
      END 
   END 
   RETURN 
END

GO
/****** Object:  Table [dbo].[N1-Ayahs]    Script Date: 12/25/2015 9:05:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[N1-Ayahs](
	[AyahSerialNo] [int] UNIQUE NOT NULL,
	[Ayah] [nvarchar](max) NOT NULL,
	[SurahSerialNo] [int] NOT NULL,
	[RubSerialNo] [int] NOT NULL,
	[AyahNoWithinSurah] [int] NOT NULL,
	[AyahNoWithinRub] [int] NOT NULL,
CONSTRAINT [Ayah-AyahSerialNoPK] PRIMARY KEY CLUSTERED 
(
	[AyahSerialNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
,
UNIQUE NONCLUSTERED 
(
	[AyahSerialNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[N1-Words]    Script Date: 12/25/2015 9:05:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[N1-Words](
	[WordSerialNo] [int] NOT NULL,
	[AyahSerialNo] [int] NOT NULL,
	[WordNoWithinAyah] [int] NOT NULL,
	[Word] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[WordSerialNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[N1-Characters]    Script Date: 12/25/2015 9:05:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[N1-Characters](
	[CharacterSerialNo] [int] NOT NULL,
	[WordSerialNo] [int] NOT NULL,
	[CharacterNoWithinWord] [int] NOT NULL,
	[Character] [nvarchar](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CharacterSerialNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[N1-Juzs]    Script Date: 12/25/2015 9:05:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[N1-Juzs](
	[RubSerialNo] [int] NOT NULL,
	[JuzNo] [int] NOT NULL,
	[RubNoWithinJuz] [int] NOT NULL,
	[FirstAyahSerialNo] [int] NOT NULL,
	[LastAyahSerialNo] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RubSerialNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[N1-Surahs]    Script Date: 12/25/2015 9:05:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[N1-Surahs](
	[SurahSerialNo] [int] NOT NULL,
	[FirstAyahSerialNo] [int] NOT NULL,
	[LastAyahSerialNo] [int] NOT NULL,
	[SurahName] [nvarchar](255) NOT NULL,
	[PageNo] [int] NOT NULL,
	[AyahCount] [int] NOT NULL,
	[PlaceOfRevelation] [int] NOT NULL,
	[RevelationSequenceNo] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SurahSerialNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

/****** Object:  Table [dbo].[N1-Sajdahs]    Script Date: 12/25/2015 9:05:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[N1-Sajdahs](
	[SajdahSerialNo] [int] NOT NULL,
	[AyahSerialNo_PlaceOfSojod] [int] NOT NULL,
	[SurahSerialNo] [int] NOT NULL,
	[AyahNoWithinSurah_PlaceOfSojod] [int] NOT NULL,
	[AyahNoWithinSurah_ReasonOfSojod] [int] NOT NULL,
	[AyahSerialNo_ReasonOfSojod] [int] NOT NULL,
	[ReasonOfSojod] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[SajdahSerialNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PlaceOfRevelation]    Script Date: 12/25/2015 9:05:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlaceOfRevelation](
	[PlaceId] [int] NOT NULL,
	[Place] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PlaceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UniCodeCharacters]    Script Date: 12/25/2015 9:05:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UniCodeCharacters](
	[UniCodeCharacter] [nvarchar](1) NOT NULL,
	[DecimalUniCode] [int] NOT NULL,
	[HexUniCode] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DecimalUniCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UniCodeCharacters_Letters]    Script Date: 12/25/2015 9:05:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UniCodeCharacters_Letters](
	[DecimalUniCode] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DecimalUniCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UniCodeCharacters_OtherCharacters]    Script Date: 12/25/2015 9:05:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UniCodeCharacters_OtherCharacters](
	[DecimalUniCode] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DecimalUniCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UniCodeCharacters_OtherCharacters]    Script Date: 12/25/2015 9:05:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UniCodeCharacters_WhiteSpaceCharacters](
	[DecimalUniCode] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DecimalUniCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

/****** Object:  Table [dbo].[UniCodeCharacters_Tashkeel]    Script Date: 12/25/2015 9:05:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UniCodeCharacters_Tashkeel](
	[DecimalUniCode] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DecimalUniCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Index [AyahInRub]    Script Date: 12/25/2015 9:05:58 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [AyahInRub] ON [dbo].[N1-Ayahs]
(
	[RubSerialNo] ASC,
	[AyahNoWithinRub] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [AyahInSurah]    Script Date: 12/25/2015 9:05:58 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [AyahInSurah] ON [dbo].[N1-Ayahs]
(
	[SurahSerialNo] ASC,
	[AyahNoWithinSurah] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [Character_CharacterSerialNoWordSerialNo]    Script Date: 12/25/2015 9:05:58 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [Character_CharacterSerialNoWordSerialNo] ON [dbo].[N1-Characters]
(
	[WordSerialNo] ASC,
	[CharacterNoWithinWord] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [JuzRubNos]    Script Date: 12/25/2015 9:05:58 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [JuzRubNos] ON [dbo].[N1-Juzs]
(
	[JuzNo] ASC,
	[RubNoWithinJuz] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [Word_AyahSerialNoWordSerialNo]    Script Date: 12/25/2015 9:05:58 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [Word_AyahSerialNoWordSerialNo] ON [dbo].[N1-Words]
(
	[AyahSerialNo] ASC,
	[WordNoWithinAyah] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO

/*************************************************************************************************/
Create Table dbo.[tempAyahs]
(
	[AyahSerialNo] [int] IDENTITY(1,1) UNIQUE NOT NULL,
	[Ayah] [nvarchar](max) NOT NULL
)
GO

insert into  dbo.PlaceOfRevelation values (1, N'مَكيَّة')
insert into  dbo.PlaceOfRevelation values (2, N'مَدنيَّة')


insert into  dbo.[N1-Sajdahs] values (1,1160,7,206 ,206,1160,N'يَسْجُدُونَ')
insert into  dbo.[N1-Sajdahs] values (2,1722,13,15 ,15,1722,N'وَلِلَّهِ يَسْجُدُ')
insert into  dbo.[N1-Sajdahs] values (3,1951,16,50 ,49,1950,N'وَلِلَّهِ يَسْجُدُ')

insert into  dbo.[N1-Surahs] values (1,1,7,N'الفَاتِحَة' ,1,7,1,5)
insert into  dbo.[N1-Surahs] values (2,8,293,N'البَقَرَة' ,2,286,2,87)
insert into  dbo.[N1-Surahs] values (3,294,493,N'آل عِمرَان' ,50,200,2,89)



insert into dbo.[N1-Juzs] values(1,1,1,1,32)
insert into dbo.[N1-Juzs] values(2,1,2,33,50)
insert into dbo.[N1-Juzs] values(3,1,3,51,66)



insert into dbo.tempAyahs values(N'بِسْمِ اللَّهِ الرَّحْمَٰنِ الرَّحِيمِ')
insert into dbo.tempAyahs values(N'الْحَمْدُ لِلَّهِ رَبِّ الْعَالَمِينَ')
insert into dbo.tempAyahs values(N'الرَّحْمَٰنِ الرَّحِيمِ')

GO

/*************************************************************************************************/
-- Remove Basmallah from Surahs beginning except Fatihah
UPDATE [dbo].[tempAyahs] 
SET Ayah = REPLACE(Ayah, N'بِسْمِ اللَّهِ الرَّحْمَٰنِ الرَّحِيمِ'+' ','')
WHERE [Ayah] LIKE N'بِسْمِ اللَّهِ الرَّحْمَٰنِ الرَّحِيمِ'+' '+'%'
GO

-- Remove the marker of Rub3 beginning as it was missing from all locations where it is 
-- a beginning or Rub3 and beginning of surah atthe same time. So decided to remove it all
-- there is a separete table for rub3 info
UPDATE [dbo].[tempAyahs]
SET Ayah = SUBSTRING(Ayah, 3, LEN(Ayah)-2)
WHERE UNICODE(SUBSTRING(Ayah, 1, 1)) = UNICODE(N'۞')
GO

/*************************************************************************************************/
-- Detect white spaces and separators between words
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetWhiteSpaces](@word nvarchar(max))
   RETURNS @characters TABLE (
      DecimalUnicode int primary key,
      [Character] nvarchar
   )
AS
BEGIN
   DECLARE @index int
   SET @index = 1
   WHILE @index <= LEN(@word) 
   BEGIN 
	IF (SUBSTRING(@word, @index,1) =' ')
		BEGIN
			INSERT INTO @characters 
			VALUES (@index, SUBSTRING(@word, @index,1))			
		END
	SET @index = @index+1
   END 
   RETURN 
END
GO

INSERT INTO dbo.[UniCodeCharacters_WhiteSpaceCharacters]
SELECT DISTINCT GWS.DecimalUnicode
FROM dbo.tempAyahs A CROSS APPLY [dbo].[GetWhiteSpaces](A.Ayah) GWS
GO

/*************************************************************************************************/
-- Fill in the Ayahs table from the tempAyahs table that is contains the quran text

INSERT INTO DBO.[N1-Ayahs]
SELECT A.AyahSerialNo, A.Ayah, S.SurahSerialNo, J.RubSerialNo, 
	A.AyahSerialNo - S.FirstAyahSerialNo + 1 as AyahNoWithinSurah,
	A.AyahSerialNo - J.FirstAyahSerialNo + 1 AyahNoWithinRub
FROM dbo.[tempAyahs] A, dbo.[N1-Surahs] S, dbo.[N1-Juzs] J
where A.AyahSerialNo>=S.FirstAyahSerialNo and A.AyahSerialNo<=S.LastAyahSerialNo
and A.AyahSerialNo>= J.FirstAyahSerialNo and A.AyahSerialNo<=J.LastAyahSerialNo

GO

/*************************************************************************************************/
-- Fill in the words table by splitting Ayahs

INSERT INTO dbo.[N1-Words]
SELECT ROW_NUMBER() OVER(ORDER BY AyahSerialNo ASC, SW.WordNoWithinAyah ASC) AS WordSerialNo, A.AyahSerialNo, SW.WordNoWithinAyah, SW.Word
FROM dbo.[N1-Ayahs] A CROSS APPLY dbo.SplitAyahIntoWords(A.Ayah) SW

GO

/*************************************************************************************************/
-- Fill in the characters table by splitting Words
INSERT INTO dbo.[N1-Characters]
SELECT ROW_NUMBER() OVER(ORDER BY WordSerialNo ASC, SC.CharacterNoWithinWord ASC) AS CharacterSerialNo, W.WordSerialNo, SC.CharacterNoWithinWord, SC.[Character]
FROM dbo.[N1-Words] W CROSS APPLY dbo.SplitWordIntoCharacters(W.Word) SC

GO

/*************************************************************************************************/
-- Categorize characters as letters, tashkeel and others
INSERT INTO dbo.UniCodeCharacters
SELECT DISTINCT C.[Character], UNICODE(C.[Character]), master.dbo.fn_varbintohexstr(UNICODE(C.[Character]))
FROM dbo.[N1-Characters] c

GO


INSERT INTO dbo.UniCodeCharacters_Letters
SELECT DISTINCT UNICODE(C.Character)
FROM dbo.[N1-Characters] c
WHERE UNICODE(C.Character)<=1610 or UNICODE(C.Character)=1648

GO

INSERT INTO dbo.UniCodeCharacters_Tashkeel
SELECT DISTINCT UNICODE(C.Character)
FROM dbo.[N1-Characters] c
WHERE UNICODE(C.Character)>=1611 and UNICODE(C.Character)<=1618

GO

INSERT INTO dbo.UniCodeCharacters_OtherCharacters
SELECT DISTINCT UNICODE(C.Character)
FROM dbo.[N1-Characters] c
WHERE UNICODE(C.Character)= 1756 or UNICODE(C.Character)= 1769

GO

/****** Object:  FullTextIndex     Script Date: 12/25/2015 7:06:20 PM ******/
CREATE FULLTEXT INDEX ON [dbo].[N1-Ayahs](
[Ayah] LANGUAGE 'Arabic')
KEY INDEX [Ayah-AyahSerialNoPK] ON ([QuranCatalog], FILEGROUP [PRIMARY])
WITH (CHANGE_TRACKING = AUTO, STOPLIST = SYSTEM)


GO
/*************************************************************************************************/
-- Foreign Key Constraints

ALTER TABLE [dbo].[N1-Ayahs]  WITH CHECK ADD  CONSTRAINT [FK_RubSerialNo] FOREIGN KEY([RubSerialNo])
REFERENCES [dbo].[N1-Juzs] ([RubSerialNo])
GO
ALTER TABLE [dbo].[N1-Ayahs] CHECK CONSTRAINT [FK_RubSerialNo]
GO
ALTER TABLE [dbo].[N1-Ayahs]  WITH CHECK ADD  CONSTRAINT [FK_SurahSerialNo] FOREIGN KEY([SurahSerialNo])
REFERENCES [dbo].[N1-Surahs] ([SurahSerialNo])
GO
ALTER TABLE [dbo].[N1-Ayahs] CHECK CONSTRAINT [FK_SurahSerialNo]
GO
ALTER TABLE [dbo].[N1-Characters]  WITH CHECK ADD  CONSTRAINT [FK_WordSerialNo] FOREIGN KEY([WordSerialNo])
REFERENCES [dbo].[N1-Words] ([WordSerialNo])
GO
ALTER TABLE [dbo].[N1-Characters] CHECK CONSTRAINT [FK_WordSerialNo]
GO
ALTER TABLE [dbo].[N1-Sajdahs]  WITH CHECK ADD FOREIGN KEY([AyahSerialNo_PlaceOfSojod])
REFERENCES [dbo].[N1-Ayahs] ([AyahSerialNo])
GO
ALTER TABLE [dbo].[N1-Sajdahs]  WITH CHECK ADD FOREIGN KEY([AyahSerialNo_ReasonOfSojod])
REFERENCES [dbo].[N1-Ayahs] ([AyahSerialNo])
GO
ALTER TABLE [dbo].[N1-Sajdahs]  WITH CHECK ADD FOREIGN KEY([SurahSerialNo], [AyahNoWithinSurah_PlaceOfSojod])
REFERENCES [dbo].[N1-Ayahs] ([SurahSerialNo], [AyahNoWithinSurah])
GO
ALTER TABLE [dbo].[N1-Sajdahs]  WITH CHECK ADD FOREIGN KEY([SurahSerialNo], [AyahNoWithinSurah_ReasonOfSojod])
REFERENCES [dbo].[N1-Ayahs] ([SurahSerialNo], [AyahNoWithinSurah])
GO
ALTER TABLE [dbo].[N1-Surahs]  WITH CHECK ADD  CONSTRAINT [FK_PlaceOfRevelation] FOREIGN KEY([PlaceOfRevelation])
REFERENCES [dbo].[PlaceOfRevelation] ([PlaceId])
GO
ALTER TABLE [dbo].[N1-Surahs] CHECK CONSTRAINT [FK_PlaceOfRevelation]
GO
ALTER TABLE [dbo].[N1-Words]  WITH CHECK ADD  CONSTRAINT [FK_AyahSerialNo] FOREIGN KEY([AyahSerialNo])
REFERENCES [dbo].[N1-Ayahs] ([AyahSerialNo])
GO
ALTER TABLE [dbo].[N1-Words] CHECK CONSTRAINT [FK_AyahSerialNo]
GO
ALTER TABLE [dbo].[UniCodeCharacters_Letters]  WITH CHECK ADD FOREIGN KEY([DecimalUniCode])
REFERENCES [dbo].[UniCodeCharacters] ([DecimalUniCode])
GO
ALTER TABLE [dbo].[UniCodeCharacters_OtherCharacters]  WITH CHECK ADD FOREIGN KEY([DecimalUniCode])
REFERENCES [dbo].[UniCodeCharacters] ([DecimalUniCode])
GO
ALTER TABLE [dbo].[UniCodeCharacters_Tashkeel]  WITH CHECK ADD FOREIGN KEY([DecimalUniCode])
REFERENCES [dbo].[UniCodeCharacters] ([DecimalUniCode])
GO
----------------------------------------------------------------------------------------------------
-- Clean up
DROP TABLE dbo.tempAyahs
GO
--------------------------------------------------------------------------------------------------------
USE [master]
GO
